.card__column-left {
	width: 460px;
	margin: 0 40px 0 0;
}

@media screen and (max-width: 1024px) {
	.card__column-left {
		width: 440px;
		margin: 0 32px 0 0;
	}
}

@media screen and (max-width: 768px) {
	.card__column-left {
		width: 340px;
		margin: 0 28px 0 0;
	}
}

@media screen and (max-width: 680px) {
	.card__column-left {
		width: 100%;
		margin: 0 40px 0 0;
	}
}