.page {
	font-family: 'Inter', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
}

@media screen and (min-width: 1280px) {
	.page {
		max-width: 1280px;
	}
}