.places {
        max-width: 984px;
        margin: 0 auto;
        padding: 12px 0 108px 0;
}

@media screen and (max-width: 1279px) {
        .places {
                max-width: calc(100% - 96px);
                padding: 12px 48px 84px 48px;
                margin: 0;
        }
}

@media screen and (max-width: 1023px) {
        .places {
                max-width: calc(100% - 48px);
                padding: 12px 24px 84px 24px;
        }
}

@media screen and (max-width: 425px) {
        .places {
                max-width: 100%;
                padding: 8px 0 62px 0;
        }
}