.header__language {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-self: flex-start;
}

@media screen and (max-width: 425px) {
	.header__language {
		margin: 16px 0 0 0;
	}
}