.cover__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.22;
	max-width: 360px;
	margin: 18px 0 0 0;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 580px) {
	.cover__text {
		font-size: 14px;
		line-height: 1.14;
		max-width: 288px;
	}
}

@media screen and (max-width: 425px) {
	.cover__text {
		margin: 8px 0 0 0;
	}
}