.lead__capture {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding: 8px 0 0 0;
	margin: 0;
	align-self: flex-start;
}

@media screen and (max-width: 928px) {
	.lead__capture {
		padding: 8px 0 0 24px;
	}
}

@media screen and (max-width: 425px) {
	.lead__capture {
		padding: 8px 0 0 16px;
	}
}